<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KnowledgeMemorizationApp"
        tools:targetApi="31">
        <activity
            android:name=".user.Form.CategoryFormActivity"
            android:exported="false" />
        <activity
            android:name="com.example.knowledgememorizationapp.user.flashcard.foldersFlashcard.ReceiveSharedFolderActivity"
            android:parentActivityName=".user.Fragment.FlashcardFolderFragment">
        </activity>
        <activity
            android:name=".admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".user.ScoreResultActivity"
            android:exported="false" />
        <activity
            android:name=".user.flashcard.card.CardFlipActivity"
            android:exported="false" />
        <activity
            android:name=".user.Form.KnowledgeFormActivity"
            android:exported="false" />
        <activity
            android:name=".user.flashcard.knowledgeListFlashcard.KnowledgeListActivity"
            android:exported="false" />
        <activity
            android:name=".user.Fragment.FlashcardFolderFragment"
            android:exported="false"
            android:label="Flashcard"
            android:parentActivityName=".user.OptionActivity"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".user.Form.FolderFormFlashcardActivity"
            android:exported="false" />
        <activity
            android:name=".ImportExcelQuizActivity"
            android:exported="false" />
        <activity
            android:name=".user.OptionActivity"
            android:exported="false" />
        <activity
            android:name=".ForgetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".QuizActivity"
            android:exported="false" />
        <activity
            android:name=".user.HomeActivity"
            android:exported="true" />
        <activity android:name=".QuestionDetailActivity" />
        <activity android:name=".AddQuestionActivity" android:exported="false"/>
        <activity android:name=".DeleteCategoryActivity" android:exported="false"/>
        <activity android:name=".RenameCategoryActivity" android:exported="false"/>
        <activity android:name=".ViewQuestionListActivity" android:exported="false"/>

        <activity
            android:name=".Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".admin.Form.AdminFolderFormActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity android:name=".admin.flashcard.knowledgeListFlashcard.AdminKnowledgeListActivity" />
        <activity android:name=".admin.Form.AdminKnowledgeFormActivity" />
        <activity android:name=".admin.flashcard.scoreFlashcard.AdminScoreFlashcardActivity" />
        <activity android:name=".admin.Form.CategoryAdminFormActivity" />
        <activity android:name="com.example.knowledgememorizationapp.user.flashcard.foldersFlashcard.ImportExcelFlashcardActivity" android:exported="false" />
        <activity android:name=".admin.flashcard.card.AdminCardFlipActivity" />
        <activity android:name=".user.ReceiveSharedCategoryActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


        <activity
            android:name=".user.Home_Flashcard_Activity"
            android:exported="true" />
        <activity
            android:name=".user.Form.ShowFlashcardIdActivity"
            android:exported="false" />
        <activity
            android:name=".user.Form.ReceiveFlashcardActivity"
            android:exported="false" />
        <activity android:name=".user.Form.ShowQuizIdActivity" />
        <activity android:name=".user.Form.ReceiveIdCategoryActivity" />
        <activity android:name=".user.RetryIncorrectQuestionsActivity" />


    </application>

</manifest>